# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# My gnore files
A/proj.win32/Debug.win32/*
A/google-play-services_lib/*
A/cocos2d/*
A/proj.wp8-xaml/*
A/proj.linux/*
A/publish/*
A/proj.android/assets/*
A/proj.android/obj/*
A/proj.android/bin/*
A/proj.android/.settins/*
/A/proj.win32/xxgame.opensdf