<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>AllstarRace_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,757},{86,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>ButtonCommonGreen.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,834},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>ButtonCommonGrey.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,722},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>ButtonCommonYellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,722},{25,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,80}}</string>
                <key>sourceSize</key>
                <string>{25,80}</string>
            </dict>
            <key>DialogBottomBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,804},{28,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,72}}</string>
                <key>sourceSize</key>
                <string>{28,72}</string>
            </dict>
            <key>DialogTopBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,916},{28,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,52}}</string>
                <key>sourceSize</key>
                <string>{28,52}</string>
            </dict>
            <key>Finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,760},{126,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,86}}</string>
                <key>sourceSize</key>
                <string>{126,86}</string>
            </dict>
            <key>InsidePanelBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,679},{32,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,34}}</string>
                <key>sourceSize</key>
                <string>{32,34}</string>
            </dict>
            <key>SettingOff.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,845},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>SettingOn.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,578},{177,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,72}}</string>
                <key>sourceSize</key>
                <string>{177,72}</string>
            </dict>
            <key>TaskBG_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1000},{18,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,19}}</string>
                <key>sourceSize</key>
                <string>{18,19}</string>
            </dict>
            <key>TaskBackButton.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,740},{103,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,66}}</string>
                <key>sourceSize</key>
                <string>{103,66}</string>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,918},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_break1.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,848},{110,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,162}}</string>
                <key>sourceSize</key>
                <string>{110,162}</string>
            </dict>
            <key>btn_break2.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,724},{110,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,144}}</string>
                <key>sourceSize</key>
                <string>{110,144}</string>
            </dict>
            <key>btn_gas1.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,850},{110,162}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,162}}</string>
                <key>sourceSize</key>
                <string>{110,162}</string>
            </dict>
            <key>btn_gas2.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,578},{110,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,144}}</string>
                <key>sourceSize</key>
                <string>{110,144}</string>
            </dict>
            <key>btn_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,578},{99,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,65}}</string>
                <key>sourceSize</key>
                <string>{99,65}</string>
            </dict>
            <key>btn_pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,578},{57,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,71}}</string>
                <key>sourceSize</key>
                <string>{57,71}</string>
            </dict>
            <key>btn_resume.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,836},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,931},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>btn_settings.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,680},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>coin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,893},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,841},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin3.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,789},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>coin4.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,968},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>dlg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,679},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>fuel_low.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{270,227}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,227}}</string>
                <key>sourceSize</key>
                <string>{270,227}</string>
            </dict>
            <key>game_needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1014},{8,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,70}}</string>
                <key>sourceSize</key>
                <string>{8,70}</string>
            </dict>
            <key>game_speed.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,578},{180,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,118}}</string>
                <key>sourceSize</key>
                <string>{180,118}</string>
            </dict>
            <key>icon_4wd.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,578},{48,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,72}}</string>
                <key>sourceSize</key>
                <string>{48,72}</string>
            </dict>
            <key>icon_best.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,680},{48,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,40}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>icon_distance.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,680},{42,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,33}}</string>
                <key>sourceSize</key>
                <string>{42,33}</string>
            </dict>
            <key>icon_engine.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,836},{93,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,72}}</string>
                <key>sourceSize</key>
                <string>{93,72}</string>
            </dict>
            <key>icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,578},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>icon_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,652},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>icon_suspension.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,578},{26,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,72}}</string>
                <key>sourceSize</key>
                <string>{26,72}</string>
            </dict>
            <key>icon_tires.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,715},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>main_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,916},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>main_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,886},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1014},{5,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{5,5}</string>
            </dict>
            <key>progress_oil.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,578},{160,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,18}}</string>
                <key>sourceSize</key>
                <string>{160,18}</string>
            </dict>
            <key>splash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,574}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,574}}</string>
                <key>sourceSize</key>
                <string>{1020,574}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{166,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,200}}</string>
                <key>sourceSize</key>
                <string>{166,200}</string>
            </dict>
            <key>upgrade_btn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,834},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>upgrade_btn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,970},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7efbd0292440e97cd394718547fc816d:1/1$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
