<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_btn_music_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_btn_music_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,86},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_btn_play.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{250,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,52}}</string>
                <key>sourceSize</key>
                <string>{250,52}</string>
            </dict>
            <key>menu_btn_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{216,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,45}}</string>
                <key>sourceSize</key>
                <string>{216,45}</string>
            </dict>
            <key>menu_btn_sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_btn_sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>menu_mountains_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,171}}</string>
                <key>sourceSize</key>
                <string>{300,171}</string>
            </dict>
            <key>menu_mountains_middle.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,86},{510,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{510,125}}</string>
                <key>sourceSize</key>
                <string>{510,125}</string>
            </dict>
            <key>menu_mountains_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{300,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,167}}</string>
                <key>sourceSize</key>
                <string>{300,167}</string>
            </dict>
            <key>menu_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{600,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,82}}</string>
                <key>sourceSize</key>
                <string>{600,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35c49221629448677c8eb41f91663880:1/1$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
