<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1020,575}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1020,575}}</string>
                <key>sourceSize</key>
                <string>{1020,575}</string>
            </dict>
            <key>menu_bg_cloud1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,729},{286,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{286,144}}</string>
                <key>sourceSize</key>
                <string>{286,144}</string>
            </dict>
            <key>menu_bg_cloud2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{266,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,148}}</string>
                <key>sourceSize</key>
                <string>{266,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu_bg.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e65fc867c0ea3c17092ffbcbcc22a10:1/1$</string>
            <key>textureFileName</key>
            <string>menu_bg.png</string>
        </dict>
    </dict>
</plist>
